* {
  top: 0;
  left: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#myTable {
  width: 95%;
  margin: 30px auto;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: black;
  width: 100%;
  align-content: center;
  text-align: center;
  border-radius: 5px;
  border-color: #000000;
}

#myTable tr td {
  background-color: #ecf4ff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
}

/* Style for table header cells */
table th {
  color: #000000;
  overflow: hidden;
  width: 150px;
  align-content: center;
  text-align: center;
  word-wrap: break-word;
}

/* Style for table data cells */
table td {
  font-size: small;
  overflow: hidden;
  width: 150px;
  align-content: center;
  text-align: center;
  word-wrap: break-word;
}

#myTable td:nth-child(even) {
  color: rgb(0, 0, 0);
}

#myTable td:nth-child(odd) {
  color: #008a92;
}

#editFormTickers {
  width: fit-content;
  margin: 30px auto;
  padding: 10px 30px 10px 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: black;
  border-collapse: collapse;
  text-align: start;
  background-color: #fffbfb;
  display: contents;
}

#editFormTickers button {
  margin: 0 auto;
  display: block;
}

#checkbox {
  width: fit-content;
  margin: 30px auto;
  padding: 10px 30px 10px 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: black;
  text-align: start;
  background-color: #fffbfb;
  display: contents;
}

#center-buttons {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

#center-buttons>label {
  margin-right: 5px;
}

#center-buttons button {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: solid;
  border: none;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  height: 30px;
  min-width: 100px;
}

#center-buttons button:hover {
  background-color: rgb(132, 192, 246);
}

#center-buttons button::after {
  background-color: #000000;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 500px) {
  .tabs {
    margin-top: 30px;
  }
}

.tabs button {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: double;
  border: none;
  transition: background-color 0.3s ease;
  border-radius: 2px;
  height: 30px;
  min-width: 100px;
}

.tab-button {
  padding: 0px 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.tab-button:hover {
  background-color: #e0dcdc;
}

/* Styling for active tab */
.tab-button.active {
  background-color: #0074d9;
  color: #fff;
}

/* Styling for tab panels */
.tab-panel {
  display: none;
  padding: 20px;
}

.tab-panel.active {
  display: block;
}

.delete-btn {
  background-color: red;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 6.5px;
  padding: 0px 5px 0px 5px;
}

.delete-btn:after {
  content: "✖";
}

.center-buttons {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: solid;
  border: none;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  height: 30px;
  min-width: 100px;
}