#sub-tab-container {
    width: 100%;
    display: grid;
    justify-content: center;
    padding: 30px 0px 0px 0px;
    font-size: 12px;
}

.sub-tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.sub-tabs button {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: double;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 2px;
    height: 30px;
    min-width: 70px;
}

#sub-tab {
    display: none;
}

#indexList {
    display: none;
    justify-items: center;
}

.sub-tab-button {
    padding: 0px 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.sub-tab-button:hover {
    background-color: #e0dcdc;
}

/* Styling for active tab */
.sub-tab-button.active {
    background-color: #0074d9;
    color: #fff;
}

/* Dropdown Styles */
#marketDropdown {
    margin: 5px;
    padding: 5px;
    border: 1px solid #8cc4fb;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    text-align: center;
}

#marketDropdown label {
    margin-bottom: 5px;
    display: block;
    font-size: 15px;
    color: #333;
    font-weight: 600;
}

.sub-dropdown {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
}

#marketDropdown select {
    width: 120px;
    padding: 8px 5px;
    border: 1px solid #8cc4fb;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    color: #333;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
}


/* Base styles for the dropdown container */
.custom-select-wrapper {
    display: block;
    justify-content: center;
    position: relative;
    user-select: none;
    min-width: 70vw;
    max-width: 70vw;
}

/* Styles for the dropdown trigger */
.custom-select__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 4px;
    cursor: pointer;
}

.custom-select__trigger span {
    margin-right: 10px;
}

/* Arrow icon in the trigger */
.arrow-2 {
    content: '';
    width: 10px;
    height: 10px;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(-45deg);
}

/* Styles for the dropdown options */
.custom-options {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 5;
    max-height: 200px;
    /* Set a max-height for the dropdown */
    overflow-y: auto;
    /* Add scroll for overflow */
    width: calc(100% - 2px);
    /* Adjust width to fit the container */
}

.custom-option {
    display: block;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    /* Add a separator between options */
}

.custom-option:last-child {
    border-bottom: none;
    /* Remove bottom border for the last option */
}

.custom-option:hover {
    background-color: #e9e9e9;
}

/* Highlight selected options */
.custom-option.selected {
    background-color: #4CAF50;
    /* Green background for selected items */
    color: white;
    /* White text color for better contrast */
}

/* Styles for the button to get selected values */
.custom-select__button {
    width: 100%;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.custom-select__button:hover {
    background-color: #555;
}

.custom-select.open .custom-options {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.graphList {
    display: block;
}

#table-list {
    display: grid;
    justify-content: center;
    width: 100%;
}

#table-list table {
    width: 100%;
    border-collapse: collapse;
}

#table-list th,
#table-list td {
    border: 0.3px solid #ebf0ff;
    padding: 10px;
    text-align: center;
}

#table-list th {
    background-color: #f0f0f0;
    font-weight: bold;
}

/* Alternating row colors */
#table-list tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Responsive styles for laptop and mobile */
@media (max-width: 768px) {

    #table-list th,
    #table-list td {
        padding: 1px;
        font-size: 12px;
    }

    .custom-select-wrapper {
        min-width: 90vw;
    }
}